body {
	font-family: 'Inter', sans-serif;
	background-color: var(--dk-bg);
	font-size: .925rem;
	font-family: Montserrat, sans-serif !important;
	overflow-x: hidden;
	}
    body h1 {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        text-transform: uppercase;
      }
    body h2 {
        font-family: Montserrat, sans-serif;
        font-size: 1.875em;
        font-weight: 700;
        text-transform: uppercase;
      }


	  .goog-te-gadget {
		color: #7ab927;
	}
	.goog-te-gadget span{
		display: none;
	}
	.VIpgJd-ZVi9od-ORHb {
		display: none !important;
	}
.navbar {
	background-color: #7ab927 !important;
	border: none !important;
	position: relative;
  	transition: 1s;
	width: 100%;
	z-index: 100 !important;
}

.navbar .dropdown-menu {
	right: auto !important;
	left: 0 !important;
}
.navbar .navbar-nav>li>a {
	color: #EEE !important;
	line-height: 55px !important;
	padding: 0 10px !important;
}
.navbar .navbar-brand {
	color:#FFF !important;
  	cursor: pointer;}
.navbar .navbar-nav>li>a:focus,
.navbar .navbar-nav>li>a:hover {color: #EEE !important}

.navbar .navbar-nav>.open>a,
.navbar .navbar-nav>.open>a:focus,
.navbar .navbar-nav>.open>a:hover {background-color: transparent !important; color: #FFF !important}

.navbar .navbar-brand {line-height: 55px !important; padding: 0 !important}
.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover {color: #FFF !important}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin: 0 !important}
@media (max-width: 767px) {
	.navbar>.container-fluid .navbar-brand {
		margin-left: 15px !important;
	}
	.navbar .navbar-nav>li>a {
		padding-left: 0 !important;
	}
	.navbar-nav {
		margin: 0 !important;
	}
	.navbar .navbar-collapse,
	.navbar .navbar-form {
		border: none !important;
	}
}

.navbar .navbar-nav>li>a {
	float: left !important;
}
.navbar .navbar-nav>li>a>span:not(.caret) {
	background-color: #486d30 !important;
	border-radius: 50% !important;
	height: 25px !important;
	width: 25px !important;
	padding: 2px !important;
	font-size: 11px !important;
	position: relative !important;
	top: -10px !important;
	right: 5px !important
}
.dropdown-menu>li>a {
	padding-top: 5px !important;
	padding-right: 5px !important;
}
.navbar .navbar-nav>li>a>i {
	font-size: 18px !important;
}

.customer-profile{
    width: 50%;
    margin: auto;
    margin-top: 1.5rem;
}

.customer-profile-heading{
    font-size: 2rem;
}

.customer-profile-form{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 1rem;
}

.customer-profile-desc{
    margin-bottom: 1rem;
    margin-top: -0.4rem;
    opacity: 0.7;
}

