{% extends 'customerbase.html' %}
{% block content %}
{% load static %}
<link rel ="stylesheet" href="{% static 'css/cart.css' %}">
<!-- Quantity and Price Section -->
<div class = 'container' style = "width: 70%; padding-top:10px;">
    <table class="table table-light table-hover">
        <thead>

        </thead>
        <tbody>
         
          <tr>
            <th scope="row"><h3><strong>Items: {{cart.get_itemtotal}}</strong></h3></th>
            <td></td>
            <td><h3><strong>Total: ${{cart.get_cart_total|floatformat:2}}</strong></h3></td>
            <!-- <td></td> -->
            <td><button type="button" class="btn btn-primary btn-lg">Checkout →</button></td>
          </tr>
          
        </tbody>
      </table>
    </div>


    <!-- Cart Section -->
<div class = 'container' style = 'margin-top: 50px; width: 70%'>
<table class="table table-light table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"><h3>Item</h3></th>
        <th scope="col"><h3>Price</h3></th>
        <th scope="col"><h3>Quantity</h3></th>
        <th scope="col"><h3>Total</h3></th>
      </tr>
    </thead>
    <tbody>

      {% for item in cartitems %}
      <tr>
        <th scope="row"><div id = "cart_image"><img src = {{item.product.image.url}}></div></th>
        <td><h3>{{item.product.name}}</h3></td>
        <td><h3>{{item.product.price}}</h3></td>
        <td><input type = 'number' class = 'quantity' value = "{{item.quantity}}" style = 'width: 50px; padding-left: 5px'></td>
        <td><h3>{{item.get_total | floatformat:2}}</h3></td>
      </tr>
      {% endfor %}
      
      
    </tbody>
  </table>
  
</div>
<script src="{% static 'js/product.js' %}"></script>
{% endblock content %}