{% extends 'customerbase.html' %}
{% load static %}
{% block content %}
<link rel ="stylesheet" href="{% static 'css/customerlogin.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<br>

<div class="login">
<br><br><br>
<center>
<img src="\static\img\login-header.jpg" class="login-header-image">
</center>
<div class="login-heading">
    Get in! And buy from the best.
</div>
<div class="well login-box center-block">
    <form name="login" method = "POST">
      {% csrf_token %}
      <input type="text" class="form-control" placeholder="Username" name="username" />
      <input type="email" class="form-control" id="pass" placeholder="Email" name="email" />
      <input type="password" class="form-control" id="pass" placeholder="Password" name="password1" />
      <input type="password" class="form-control" id="pass" placeholder="Password" name="password2" />
      <button class="btn btn-primary" type="submit">Register</button>
      <br>
      <p>Already have an account?<a href="/login" class="forgot-password"> Login</a></p>
  </div>
  </form>
  </div>

{% endblock content %}