{% extends 'customerbase.html' %}
{% load static %}
{% block content %}
<link rel ="stylesheet" href="{% static 'css/customerlogin.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<br>

<div class="login">
<br><br><br>
<center>
<img src="https://static.vecteezy.com/system/resources/previews/011/765/999/original/a-basket-of-vegetables-is-isolated-on-a-white-background-harvesting-vegetables-flat-cartoon-illustration-elements-for-the-autumn-farmer-s-market-the-concept-of-the-vegetarian-food-market-vector.jpg" width="600" class="login-header-image">
</center>
<div class="login-heading">
    Get in! And buy from the best.
</div>
<div class="well login-box center-block">
    <form name="login" method = "POST">
      {% csrf_token %}
      <input type="text" class="form-control" placeholder="Username" name="username" />

      <input type="password" class="form-control" id="pass" placeholder="Password" name="password" />
      
      <button class="btn btn-primary" type="submit">Login</button>
      <br>
      <p>New user?<a href="/register" class="forgot-password"> SignUp Now!</a></p>
  </div>
  </form>
  </div>

{% endblock content %}