{% extends 'customerbase.html' %}
{% load static %}
{% block content %}
<link rel ="stylesheet" href="{% static 'css/customerhome.css' %}">
    
   <main class="container">
     <div class="jumbotron">
      <h1 class="display-5">Coffee House</h1>
      <p>Café. Bistro. Reading Nook.</p>
      <br>
       <p><strong>Open</strong><br> Mon - Fri: 6am to 9pm</p>
      <a class="btn btn-secondary btn-lg" href="#" role="button">Order Now</a> 
       </div>
     </div>
    
     <section class="container container-desktop">
       <div class="row">
          <div class="col">
          <img src="https://images.unsplash.com/photo-1571934811356-5cc061b6821f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=747&q=80" class="card-img-top" alt="tea">
          <div class="card-body">
          <p class="card-text">Tea: Green, Jasmine, Chai, Herbal, Black</p>
          <p class="card-text-price">Price: $20</p>
          <button type="button" class="btn btn-primary add-to-cart" onclick="location.href=''">Add to cart</button>
          </div>
          </div>
         <div class="col">
          <img src="https://images.unsplash.com/photo-1545731939-9c302d5d27ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="coffee cup">
          <div class="card-body">
          <p class="card-text">Specialties: Lavendar Lattes, Caramel</p>
          <p class="card-text-price">Price: $20</p>
          <button type="button" class="btn btn-primary add-to-cart" onclick="location.href=''">Add to cart</button>
          </div>
          </div>
         <div class="col">
          <img src="https://images.unsplash.com/photo-1569161238483-4c6375c59d68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="espresso">
          <div class="card-body">
          <p class="card-text">Espressos: Red Eye, Americano, Macchiato</p>
          <p class="card-text-price">Price: $20</p>
          <button type="button" class="btn btn-primary add-to-cart" onclick="location.href=''">Add to cart</button>
          </div>
          </div>
       </div>
     </section>

     <!--FOR MOBILE ONLY {{VISIBILITY}}-->
     <section class="container container-mobile">
      <div class="row">
         <div class="col">
         <img src="https://images.unsplash.com/photo-1571934811356-5cc061b6821f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=747&q=80" class="card-img-top" alt="tea">
         <div class="card-body">
         <p class="card-text">Tea: Green, Jasmine, Chai, Herbal, Black</p>
         <p class="card-text-price">Price: $20</p>
         <button type="button" class="btn btn-primary add-to-cart" onclick="location.href=''">Add to cart</button>
         </div>
         </div>
        <div class="col">
         <img src="https://images.unsplash.com/photo-1545731939-9c302d5d27ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="coffee cup">
         <div class="card-body">
         <p class="card-text">Specialties: Lavendar Lattes, Caramel</p>
         <p class="card-text-price">Price: $20</p>
         <button type="button" class="btn btn-primary add-to-cart" onclick="location.href=''">Add to cart</button>
         </div>
         </div>
        <div class="col">
         <img src="https://images.unsplash.com/photo-1569161238483-4c6375c59d68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="espresso">
         <div class="card-body">
         <p class="card-text">Espressos: Red Eye, Americano, Macchiato</p>
         <p class="card-text-price">Price: $20</p>
         <button type="button" class="btn btn-primary add-to-cart" onclick="location.href=''">Add to cart</button>
         </div>
         </div>
      </div>
    </section>
   </main>
 <br>
 <br>
 <br>
{% endblock content %}