{% load static %}
<link rel ="stylesheet" href="{% static 'css/devhome.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js" integrity="sha512-F636MAkMAhtTplahL9F6KmTfxTmYcAcjcCkyu0f0voT3N/6vzAuJ4Num55a0gEJ+hRLHhdz3vDvZpf6kqgEa5w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DeliveryAPP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/devorders">Your orders</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/devlogout">Logout</a>
          </li>
          
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/devlogin">Login</a>
          </li>
          {% endif %}
        </ul>
       
      </div>
    </div>
  </nav>
<div class="dev-home">
    <div class="location-heading" style="font-size: 1.5rem;">Currently serving in zipcode: <span style="font-weight: 500;">{{usercode}}</span> </div>
    <div class="location-sub" style="font-size: 1.1rem; margin-left: 1rem;">List of all active orders in your zone</div>
    <div class="dev-container">
        {% for orders in allActiveOrders %}
        {% if orders.shipped_status == "False" %}
        <div class="dev-cards">
            <div class="card ">
                <div class="card-body">
                  <h5 class="card-title">Order Id: #23456345{{orders.id}}</h5>
                  <p class="card-text"><span style="font-weight: 500;">Customer name: </span>{{orders.username}}</p>
                  <p class="card-text"><span style="font-weight: 500;">Price: </span>${{orders.total_amount}}</p>
                  <p class="card-text"><span style="font-weight: 500;">Mode of Delivery: </span>{{orders.modeofdelivery}}</p>
                  <a href="#" class="btn btn-primary" onclick="location.href='updatedeliverystatus/{{orders.cartid}}'">Ship</a>
                </div>
              </div>
        </div>
        {% endif %}
        {% endfor %}
        
    </div>
</div>